.btn {
  height: 44px;
  cursor: pointer;
  @include text16;
  font-family: $cormorantFont;
  @include rounded(4px);
  width: auto;
  padding: 0 32px;
  display: flex;
  align-items: center;
  @include transitionAll;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  &:hover {
    opacity: 0.9;
  }
  &.btn-primary {
    background-color: $primaryColor;
    color: $grayDarkColor;
  }
  &.btn-secondary {
    background-color: lightgray;
    color: $primaryColor;
    border: none;
  }
  &.btn-pay {
    background-color: white;
    color: teal;
    font-weight: bold;
  }
  &.btn-teal {
    background-color: teal;
    color: white;
    font-weight: bold;
  }
}
