.footer {
  position: relative;
  width: 100%;
  height: $footerHeightDesktop;
  padding-top: calc($footerHeightDesktop - 837px);
  &-logo {
    position: absolute;
    top: -73px;
    left: 106px;
  }
  &-form {
    position: absolute;
    top: 116px;
    left: 50%;
    @include translate(-50%, 0);
    width: 1300px;
    background-color: $grayDarkColor;
    border: 1px solid rgba(220, 202, 135, 20%);
    @include rounded(3px);
    text-align: center;
    font-family: $cormorantFont;
    padding: 64px 0;
    h4 {
      font-size: 23px;
      color: white;
      margin-bottom: 6px;
    }
    h2 {
      font-size: 64px;
      color: $primaryColor;
      font-weight: 600;
      margin-top: 8px;
      margin-bottom: 28px;
    }
    p {
      @include text16;
      font-family: $openSansFont;
      color: white;
      margin-bottom: 64px;
    }
    &-group {
      margin-left: auto;
      margin-right: auto;
      width: 800px;
      @include flexCenterX;
      gap: 0 32px;
      input {
        width: 635px;
      }
    }
  }
  &-background {
    height: 100%;
    width: 100%;
    background-image: url("/images/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 350px;
  }
  &-info {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 82px;
    &-item {
      flex: 1;
      text-align: center;
      h1 {
        color: $primaryColor;
        font-size: 64px;
        font-weight: 700;
        font-family: $cormorantFont;
        text-transform: uppercase;
        margin-bottom: 38px;
        line-height: 1;
      }
      h4 {
        font-weight: 400;
        margin-top: 16px;
        margin-bottom: 24px;
        color: $borderColor;
        font-family: $cormorantFont;
        font-size: 32px;
      }
      p {
        color: $grayColor;
        @include text16;
        line-height: 1.6;
      }
      &.mid {
        p {
          color: white;
          margin-bottom: 6px;
        }
      }
      &-socials {
        @include flexCenterX;
        gap: 0 19px;
        margin-top: 10px;
      }
    }
  }
  &-copyright {
    @include text16;
    color: $grayColor;
    text-align: center;
  }
  &-tool {
    position: absolute;
    bottom: 664px;
    right: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px 0;
    p {
      color: $primaryColor;
      @include text16;
      text-transform: uppercase;
      font-family: $cormorantFont;
    }
  }
}
