.navbar {
  height: 100%;
  max-width: 1680px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include flexBetweenX;
  .navbar-item-logo {
    flex: 3;
    @include sm {
      flex: 1;
    }
    font-size: 44px;
    font-weight: 500;
    font-family: $cormorantFont;
    text-transform: uppercase;
    color: white;
  }
  .navbar-item-list {
    flex: 3;
    display: none;
    gap: 0 32px;
    color: white;
    @include sm {
      @include flexCenterX;
    }
    & li {
      cursor: pointer;
      @include text16;
      a {
        color: white;
      }
    }
  }
  .navbar-item-option {
    @include flexCenterX;
    gap: 0 50px;
    &-authentication {
      display: flex;
      align-items: center;
      gap: 0 8px;
      @include text16;
      color: white;
      a {
        color: white;
      }
    }
    &-table a {
      color: white;
      @include text16;
    }
    &-cart {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      position: relative;
      cursor: pointer;
      & i svg path {
        stroke: white;
      }
      &-counter {
        position: absolute;
        top: -8px;
        right: -10px;
        width: 20px;
        height: 20px;
        padding: 3px;
        @include rounded(50%);
        background-color: white;
        @include flexCenterX;
        color: $primaryColor;
        font-weight: bold;
      }
    }
  }
}
