.navbar {
  height: 100%;
  padding-inline: 50px;
  @include flexBetweenX;
  .navbar-item-contact {
    flex: 3;
    @include sm {
      flex: 1;
    }
    display: flex;
    align-items: center;
    & i {
      width: 50px;
      height: 50px;
      @include rounded(50%);
      padding: 10px;
      background-color: white;
      & svg path {
        stroke: $primaryColor;
      }
    }
    &-texts {
      color: white;
      margin-left: 20px;
      & h4 {
        @include text12;
        font-weight: 500;
      }
      & p {
        @include text20;
        font-weight: bold;
      }
    }
  }
  .navbar-item-list {
    flex: 3;
    display: none;
    gap: 0 40px;
    color: white;
    @include sm {
      @include flexCenterX;
    }
    & li {
      font-weight: 500;
      cursor: pointer;
    }
  }
  .navbar-item-cart {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
    & i svg path {
      stroke: white;
    }
    &-counter {
      position: absolute;
      top: -8px;
      right: -10px;
      width: 20px;
      height: 20px;
      padding: 3px;
      @include rounded(50%);
      background-color: white;
      @include flexCenterX;
      color: $primaryColor;
      font-weight: bold;
    }
  }
}
