// Radius
@mixin rounded($size) {
  border-radius: $size;
  -webkit-border-radius: $size;
  -moz-border-radius: $size;
  -ms-border-radius: $size;
  -o-border-radius: $size;
}
// End Radius

/* ************************************************* */
// Flex Box
@mixin flexBetweenX {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexCenterX {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexCenterY {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// End Flex Box

/* ************************************************* */

// Grid Box
@mixin gridColumn($column) {
  display: grid;
  grid-template-columns: repeat($column, minmax(0, 1fr));
}
// End Grid Box

/* ************************************************* */

// Font Size
@mixin text12 {
  font-size: 0.75rem /* 12px */;
  line-height: 1rem /* 16px */;
}

@mixin text14 {
  font-size: 0.875rem /* 14px */;
  line-height: 1.125rem /* 18px */;
}

@mixin text16 {
  font-size: 1rem /* 16px */;
  line-height: 1.25rem /* 20px */;
}

@mixin text18 {
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
}

@mixin text20 {
  font-size: 1.25rem /* 20px */;
  line-height: 1.5rem /* 24px */;
}

@mixin text24 {
  font-size: 1.5rem /* 24px */;
  line-height: 1.75rem /* 28px */;
}

@mixin text30 {
  font-size: 1.875rem /* 30px */;
  line-height: 2.25rem /* 36px */;
}

@mixin text36 {
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
}

@mixin text48 {
  font-size: 3rem /* 48px */;
  line-height: 1;
}

@mixin text60 {
  font-size: 3.75rem /* 60px */;
  line-height: 1;
}

@mixin text72 {
  font-size: 4.5rem /* 72px */;
  line-height: 1;
}

@mixin text96 {
  font-size: 6rem /* 96px */;
  line-height: 1;
}

@mixin text128 {
  font-size: 8rem /* 128px */;
  line-height: 1;
}
// End Font Size

/* ************************************************* */
// Fixed Page
@mixin fixedFull {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@mixin fixedTop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@mixin fixedBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

// End Fixed Page

// Absolute Page
@mixin absoluteTop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
@mixin absoluteBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin absoluteLeft {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
@mixin absoluteRight {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
@mixin absoluteFull {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

// End Absolute Page
/* ************************************************* */

// Box Shadow
@mixin shadowV1 {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
@mixin shadowV2 {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
@mixin shadowV3 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@mixin shadowV4 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@mixin shadowV5 {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
@mixin shadowV6 {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
@mixin shadowV7 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.075);
}
// End Box Shadow

/* ************************************************* */

// Transition
@mixin transitionAll {
  transition: all linear 0.25s;
  -webkit-transition: all linear 0.25s;
  -moz-transition: all linear 0.25s;
  -ms-transition: all linear 0.25s;
  -o-transition: all linear 0.25s;
}
@mixin transition($value) {
  transition: $value;
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
}
@mixin translate($x, $y) {
  transform: translate($x, $y);
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
}
@mixin  translate3d($value) {
  transform: translate3d($value);
  -webkit-transform: translate3d($value);
  -moz-transform: translate3d($value);
  -ms-transform: translate3d($value);
  -o-transform: translate3d($value);
}
@mixin scale($value) {
  transform: scale($value);
  -webkit-transform: scale($value);
  -moz-transform: scale($value);
  -ms-transform: scale($value);
  -o-transform: scale($value);
}
@mixin  rotate($value) {
  transform: rotate($value);
  -webkit-transform: rotate($value);
  -moz-transform: rotate($value);
  -ms-transform: rotate($value);
  -o-transform: rotate($value);
}
@mixin duration($time) {
  transition-duration: $time;
}
// End Transition

/* ************************************************* */
// Animation
@mixin animation($value) {
  animation: $value;
  -webkit-animation: $value;
}
// End Animation

/* ************************************************* */

// Animation
@mixin hoverMidScale($color) {
  background-color: $color;
}

// End Animation

/* ************************************************* */

// KeyFrames

// End KeyFrames
