@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900&display=swap');
/* Color */
$primaryColor: #d1411e;
$secondaryColor: #828282;
$headingColor: $secondaryColor;
$titleColor: #666;
$titleDarkColor: #000000;
$titleLightColor: #777;
$textColor: #444;
$textDarkColor: #111111;
$textLightColor: #EFEFEF;
$textLightColor2: #fbfbfb;
$grayLightColor: #C4C4C4;
$grayLightColor2: #D1D5DB;
$grayLightColor3: #F5F5F5;
$grayDarkColor: #424444;
$stripeBlueColor: #0570DE;
$purpleColor: #635BFF;
$btnPrimaryColor: #233EAE;
$btnPrimaryLightColor: #dee4ff;
$greenColor: #319C1F;
$borderColor: #c6c6c6;
$shadowCard: 0px 4px 4px rgba(0, 0, 0, 0.25);



$errorColor:#EC1313;

$container-width: 1200px;

/* Structure desktop */
$headerHeightDesktop: 100px;

/* Structure Mobile */
$headerHeightMobile: 76px;
$navbarHeightMobile: 57px;
$sidebarWidthMobile: 248px;
$inputHeight: 48px;


/* Font */
$primaryFont: 'Roboto', sans-serif;

/* BreakPoint */
// Mobile App
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;

// Web App
/* $sm: 639px;
$md: 767px;
$lg: 1023px;
$xl: 1279px;
$xxl: 1535px; */