.home {
    &-listMenu {
        height: 100vh;
        width: 100%;
        background-image: url('/images/menu1.png');
        background-repeat: no-repeat;
        background-size: cover;
        &-wrapper {
            height: 100%;
            max-width: 1680px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 64px 0;
        }
        &-item {
            font-size: 64px;
            font-family: $cormorantFont;
            a {
                color: white;
            }
            &.active a {
                border-bottom: 2px solid white;
            }
        }
    }
}