.input {
  height: 60px;
  border: 1px solid $borderColor;
  color: white;
  padding: 0 19px;
  @include rounded(4px);
  @include text18;
  font-family: $cormorantFont;
  background-color: transparent;
  &::placeholder {
    color: $grayColor;
    @include text16;
  }
}

@import "./ControlNumber.scss";
@import './ControlTextarea.scss';
