.app-food-card {
  justify-self: flex-start;
  width: 100%;
  @include flexCenterY;
  padding-block: 40px;
  cursor: pointer;
  padding-inline: 36px;
  @include sm {
    width: 25%;
    padding-inline: 60px;
  }
  .app-food-card-img {
    & img {
      @include rounded(50%);
    }
  }

  .app-food-card-title {
    @include text24;
    padding: 16px 0 20px;
    font-weight: 800;
    color: $primaryColor;
  }

  .app-food-card-price {
    @include text20;
    margin-bottom: 14px;
    font-weight: 800;
    color: $titleColor;
  }

  .app-food-card-desc {
    color: $titleLightColor;
    text-align: center;
    width: 80%;
    @include text20;
    @include sm {
      @include text18;
    }
  }
}
